logs
project/project
project/target
target
tmp
.history
.target
.settings
dist
/.idea
/*.iml
/out
/.idea_modules
.classpath
.project
*.jdb
*.info.*
*.lck
.cache
/bin
.shell_history
/samples/jackrabbit-sample-ocm-app/repository
*.log
